@using LibraryMVC.Models
@model LoginViewModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}

<main aria-labelledby="title">
    @*<h2 id="title">@ViewBag.Title.</h2>*@
    <h4>Hello! let's get started</h4>
    <h6 class="font-weight-light">Sign in to continue.</h6>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*<input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">*@
            @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })*@

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })*@
            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        @*<div class="form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>*@
        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
            SIGN IN
        </button>
        <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <a href="@Url.Action("ForgotPassword")" class="auth-link text-black">Forgot password?</a>
        </div>
        @*<div class="form-group">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Log in" class="btn btn-outline-dark" />
                </div>
            </div>*@
        <div class="mb-2">
            <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                <i class="ti-facebook mr-2"></i>Connect using facebook
            </button>
        </div>
        <div class="text-center mt-4 font-weight-light">
            Don't have an account? @Html.ActionLink("Create!", "AddUser", "Home")
        </div>
        <div class="text-center mt-4 font-weight-light">
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
        </div>

        @* Enable this once you have account confirmation enabled for password reset functionality*@
        
    }

    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}